<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<br>
	<div style="width:100%">
		<div class="container">
			<div class="row">
				{% if not is_voted == 'True' %}
				<!-- <small style="text-align: center;">You have not voted yet! Please vote</small> -->
				<br><br>
				<div style="float: left; width: 70%; margin-bottom: 50px;">
				<!-- <center> -->
						
						<form action="/submit" id="textform" method="post">
							<table style="width:70%; float: right;">
							<tr>
								<td>
									<label>Select Political party to vote</label>
								</td>
								<td><select name="party" required>
										<option value="">select</option>
										{% for political_partie in political_parties %}
										<option value="{{political_partie}}">{{political_partie}}</option>
										{% endfor %}
									</select>
								</td>
							</tr>
							<tr>
								<td>
									<label>Your Voting Public Key</label>
								</td>
								<td>
									<input type="text" name="voter_id" placeholder="{{ voter_pub_key }}" value="{{ voter_pub_key }}" readonly>
								</td>	
							</tr>
							<tr>
								<td></td>
								<td>
									<input type="submit" value="Vote">
								</td>
							</tr>
							</table>
						</form>
						

				<!-- </center> -->
				</div>
				{% endif %}
			</div>
		</div>

	</div>

	    

	<!-- <div style="margin: 20px;"> -->



	<!-- <div class="col-md-6 mx-auto" > </div> -->
	<div class="container">
		<div class="row">
			<div class="col-md-8" >
				<h2 style="text-align: center;">Voting Transactions</h2>
				<table>
				  <tr>
					  <th>Voter ID</th>
					  <th>TxID</th>
					<th>Block Index</th>
					<th>Candidate Name</th>
					<th>Voted Time</th>
				  </tr>
				  {% for post in posts %}
				  <tr>
					  <td>{{post.voter_id | truncate(15, false, '...')}}</td>
					  <td>{{post.TxID | truncate(15, false, '...')}}</td>
	
					<td>{{post.index}}</td>
	
					<td>{{post.party}}</td>
					<td>{{readable_time(post.timestamp)}}</td>
				  </tr>
				 {% endfor %}
				</table>
			</div>

			<div class="col-md-4">
					<h2 style="text-align: center;">Result Summary</h2>

					<table> 
					<tr>
						<th width="25%">Candidate Name</th>
						<th width="25%">Total Votes</th>
					</tr>
					{% for p in political_parties %}
					<tr>
						<td>{{p}}</td>
						<td>{{vote_gain.count(p)}}</td>
					</tr>
					{% endfor %}

				
					</table>

					
						<center>
							<a href="{{node_address}}/chain" target="_blank"><button class="btn-secondary">View Chain</button> 
							<img src="{{ blockchain_img }}" alt="Auth Process Govt DB" style="height: fit-content;">
							</a>
						</center>
					</div>


			</div>
		</div>
	</div>
	    

	<style>
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	  
	}




	td, th {
	  border: 2px solid #000000;
	  text-align: left;
	  padding: 8px;
	}

	th {
		background-color: #A8D086;
	}


	tr:nth-child(odd) {
			background-color: #70ad475b; /* Light gray background */
		}

	
	.col-md-4{
	    float: left;
	    width: 33.33333333%;
	}
	.col-md-2{
	    float: left;
	    width: 16.33333333%;
	}
	.col-md-6{
	    float: left;
	    width: 60.33333333%;
	}
	</style>
    </div>
{% endblock %}
